// map_editor.rc: the resource script for map_editor

// Copyright Takeshi Mouri 2007.
// Distributed under the Boost Software License, Version 1.0.
// (See accompanying file LICENSE_1_0.txt or copy at
// http://www.boost.org/LICENSE_1_0.txt)

// See http://hamigaki.sourceforge.jp/ for library home page.

#include <windows.h>
#include "accelerators.h"
#include "char_dialog.h"
#include "menus.h"
#include "new_dialog.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

HAMIGAKI_IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New...\tCtrl+N" ,    HAMIGAKI_ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O",    HAMIGAKI_ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S",       HAMIGAKI_ID_FILE_SAVE
        MENUITEM "Save &As...",         HAMIGAKI_ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",               HAMIGAKI_ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",       HAMIGAKI_ID_EDIT_UNDO,  GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",        HAMIGAKI_ID_EDIT_CUT,   GRAYED
        MENUITEM "&Copy\tCtrl+C",       HAMIGAKI_ID_EDIT_COPY,  GRAYED
        MENUITEM "&Delete\tDel",        HAMIGAKI_ID_EDIT_DEL,   GRAYED
    END
END

HAMIGAKI_IDR_ACCELERATOR ACCELERATORS
BEGIN
    "^N",       HAMIGAKI_ID_FILE_NEW
    "^O",       HAMIGAKI_ID_FILE_OPEN
    "^S",       HAMIGAKI_ID_FILE_SAVE
    "^Z",       HAMIGAKI_ID_EDIT_UNDO
    "^X",       HAMIGAKI_ID_EDIT_CUT
    "^C",       HAMIGAKI_ID_EDIT_COPY
    VK_DELETE,  HAMIGAKI_ID_EDIT_DEL,   VIRTKEY
END

HAMIGAKI_IDD_NEW DIALOGEX 0, 0, 121, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create a new map"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Width:",-1,7,7,22,8
    EDITTEXT        HAMIGAKI_IDC_WIDTH,7,19,40,14,ES_AUTOHSCROLL
    LTEXT           "&Height:",-1,58,7,24,8
    EDITTEXT        HAMIGAKI_IDC_HEIGHT,57,19,40,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,7,41,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,64,41,50,14
END

HAMIGAKI_IDD_CHAR DIALOGEX 0, 0, 184, 286
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit the character"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Sprite:",-1,6,6,22,8
    EDITTEXT        HAMIGAKI_IDC_SPRITE,6,18,150,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",HAMIGAKI_IDC_SPRITE_BTN,162,18,18,12
    GROUPBOX        "Attributes:",-1,6,36,174,36
    CONTROL         "Player",HAMIGAKI_IDC_IS_PLAYER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,48,36,10
    CONTROL         "Enemy",HAMIGAKI_IDC_IS_ENEMY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,66,48,37,10
    CONTROL         "Weapon",HAMIGAKI_IDC_IS_WEAPON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,48,43,10
    CONTROL         "Block",HAMIGAKI_IDC_IS_BLOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,60,32,10
    CONTROL         "Breaker",HAMIGAKI_IDC_IS_BREAKER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,66,60,41,10
    LTEXT           "vx:",-1,6,78,12,8
    EDITTEXT        HAMIGAKI_IDC_VX,24,78,66,14,ES_AUTOHSCROLL
    LTEXT           "vy:",-1,96,78,12,8
    EDITTEXT        HAMIGAKI_IDC_VY,114,78,66,14,ES_AUTOHSCROLL
    LTEXT           "Slope type:",-1,6,96,38,8
    COMBOBOX        HAMIGAKI_IDC_SLOPE,54,96,126,48,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Move:",-1,6,114,21,8
    COMBOBOX        HAMIGAKI_IDC_ON_MOVE,54,114,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Speed:",-1,6,132,24,8
    COMBOBOX        HAMIGAKI_IDC_ON_SPEED,54,132,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On block:",-1,6,150,31,8
    COMBOBOX        HAMIGAKI_IDC_ON_BLOCK,54,150,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On push:",-1,6,168,30,8
    COMBOBOX        HAMIGAKI_IDC_ON_PUSH,54,168,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On player:",-1,6,186,35,8
    COMBOBOX        HAMIGAKI_IDC_ON_PLAYER,54,186,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On enemy:",-1,6,204,36,8
    COMBOBOX        HAMIGAKI_IDC_ON_ENEMY,54,204,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On stomp:",-1,6,222,34,8
    COMBOBOX        HAMIGAKI_IDC_ON_STOMP,54,222,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On hit:",-1,6,240,23,8
    COMBOBOX        HAMIGAKI_IDC_ON_HIT,54,240,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,72,264,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,126,264,50,14
END
