// map_editor.rc: the resource script for map_editor

// Copyright Takeshi Mouri 2007.
// Distributed under the Boost Software License, Version 1.0.
// (See accompanying file LICENSE_1_0.txt or copy at
// http://www.boost.org/LICENSE_1_0.txt)

// See http://hamigaki.sourceforge.jp/ for library home page.

#include <windows.h>
#include "accelerators.h"
#include "char_dialog.h"
#include "icon_dialog.h"
#include "map_cfg_dialog.h"
#include "menus.h"
#include "popup_menus.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

HAMIGAKI_IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New project...\tCtrl+N" ,    HAMIGAKI_ID_FILE_NEW
        MENUITEM "&Open project...\tCtrl+O",    HAMIGAKI_ID_FILE_OPEN
        MENUITEM "&Save project\tCtrl+S",       HAMIGAKI_ID_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       HAMIGAKI_ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",       HAMIGAKI_ID_EDIT_UNDO,  GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",        HAMIGAKI_ID_EDIT_CUT,   GRAYED
        MENUITEM "&Copy\tCtrl+C",       HAMIGAKI_ID_EDIT_COPY,  GRAYED
        MENUITEM "&Paste\tCtrl+V",      HAMIGAKI_ID_EDIT_PASTE, GRAYED
        MENUITEM "&Delete\tDel",        HAMIGAKI_ID_EDIT_DEL
    END
END

HAMIGAKI_IDR_POPUP MENU
BEGIN
    POPUP "MapSelectWindow"
    BEGIN
        MENUITEM "&New...\tIns",            HAMIGAKI_ID_MAP_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Copy\tCtrl+C",           HAMIGAKI_ID_MAP_COPY,   GRAYED
        MENUITEM "&Paste\tCtrl+V",          HAMIGAKI_ID_MAP_PASTE,  GRAYED
        MENUITEM "&Delete\tDel",            HAMIGAKI_ID_MAP_DEL
        MENUITEM SEPARATOR
        MENUITEM "P&roperties\tSpace",      HAMIGAKI_ID_MAP_PROP
    END
END

HAMIGAKI_IDR_ACCELERATOR ACCELERATORS
BEGIN
    "^N",       HAMIGAKI_ID_FILE_NEW
    "^O",       HAMIGAKI_ID_FILE_OPEN
    "^S",       HAMIGAKI_ID_FILE_SAVE
    "^Z",       HAMIGAKI_ID_EDIT_UNDO
    "^X",       HAMIGAKI_ID_EDIT_CUT
    "^C",       HAMIGAKI_ID_EDIT_COPY
    "^V",       HAMIGAKI_ID_EDIT_PASTE
    VK_DELETE,  HAMIGAKI_ID_EDIT_DEL,   VIRTKEY
    VK_INSERT,  HAMIGAKI_ID_MAP_NEW,    VIRTKEY
END

HAMIGAKI_IDD_MAP_CFG DIALOGEX 0, 0, 118, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Map setting"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Name:",-1,6,6,22,8
    EDITTEXT        HAMIGAKI_IDC_MAP_NAME,6,18,102,14,ES_AUTOHSCROLL
    LTEXT           "&Width:",-1,6,42,22,8
    EDITTEXT        HAMIGAKI_IDC_WIDTH,6,54,42,14,ES_AUTOHSCROLL
    LTEXT           "&Height:",-1,60,42,24,8
    EDITTEXT        HAMIGAKI_IDC_HEIGHT,60,54,42,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,6,78,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,60,78,50,14
END

HAMIGAKI_IDD_CHAR DIALOGEX 0, 0, 184, 297
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit the character"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Icon:",-1,6,6,18,8
    CONTROL         "",HAMIGAKI_IDC_ICON,"IconViewWindow",WS_TABSTOP,6,18,21,20
    LTEXT           "Sprite:",-1,42,6,22,8
    COMBOBOX        HAMIGAKI_IDC_SPRITE,42,24,138,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Attributes:",-1,6,48,174,36
    CONTROL         "Player",HAMIGAKI_IDC_IS_PLAYER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,60,36,10
    CONTROL         "Enemy",HAMIGAKI_IDC_IS_ENEMY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,66,60,37,10
    CONTROL         "Weapon",HAMIGAKI_IDC_IS_WEAPON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,60,43,10
    CONTROL         "Block",HAMIGAKI_IDC_IS_BLOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,72,32,10
    CONTROL         "Breaker",HAMIGAKI_IDC_IS_BREAKER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,66,72,41,10
    LTEXT           "vx:",-1,6,90,12,8
    EDITTEXT        HAMIGAKI_IDC_VX,24,90,66,14,ES_AUTOHSCROLL
    LTEXT           "vy:",-1,96,90,12,8
    EDITTEXT        HAMIGAKI_IDC_VY,114,90,66,14,ES_AUTOHSCROLL
    LTEXT           "Slope type:",-1,6,108,38,8
    COMBOBOX        HAMIGAKI_IDC_SLOPE,54,108,126,48,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Move:",-1,6,126,21,8
    COMBOBOX        HAMIGAKI_IDC_ON_MOVE,54,126,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Speed:",-1,6,144,24,8
    COMBOBOX        HAMIGAKI_IDC_ON_SPEED,54,144,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On block:",-1,6,162,31,8
    COMBOBOX        HAMIGAKI_IDC_ON_BLOCK,54,162,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On push:",-1,6,180,30,8
    COMBOBOX        HAMIGAKI_IDC_ON_PUSH,54,180,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On player:",-1,6,198,35,8
    COMBOBOX        HAMIGAKI_IDC_ON_PLAYER,54,198,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On enemy:",-1,6,216,36,8
    COMBOBOX        HAMIGAKI_IDC_ON_ENEMY,54,216,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On stomp:",-1,6,234,34,8
    COMBOBOX        HAMIGAKI_IDC_ON_STOMP,54,234,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "On hit:",-1,6,252,23,8
    COMBOBOX        HAMIGAKI_IDC_ON_HIT,54,252,126,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,72,276,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,126,276,50,14
END

HAMIGAKI_IDD_ICON DIALOGEX 0, 0, 268, 142
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select an icon"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Filename:",-1,6,6,32,8
    COMBOBOX        HAMIGAKI_IDC_PNG,48,6,150,72,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",HAMIGAKI_IDC_ICON_SEL,"IconSelectWindow",WS_TABSTOP,6,24,198,108
    DEFPUSHBUTTON   "OK",IDOK,210,102,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,210,120,50,14
END
