/*
Copyright Takeshi Mouri 2006.
Use, modification, and distribution are subject to the
Boost Software License, Version 1.0. (See accompanying file
LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

Original:
http://www.boost.org/doc/html/reference.css
*/
PRE.synopsis { 
  background-color: #e0ffff;
  border: thin solid blue;
  padding: 1em
}
